:local(.styles) {
  text-align: center;
  padding: 20px 0 20px;

  border-top: 1px solid #CCC;

  color: #FFFFFF;

  background: black;

  a {
  	color: #dfe3ee;
  	text-decoration: underline;
  }

  iframe {
    margin: 0 20px;
  }
}
